.attribution {
     font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@font-face {
   font-family: Figtree;
   src: url(assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
   font-family: Figtree;
   src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
   font-weight: bold;
}



body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: white;
    max-width: 320px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px black;
}

.image {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 24px;
}

.learning {
    background-color: yellow;
    color: black;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 800;
    font-size: 0.8rem;
}

.published {
    font-size: 0.85rem;
    margin: 12px 0;
    color: black;
}

h1 {
    font-size: 1.4rem;
    margin: 0 0 12px 0;
    font-weight: 800;
}

h1:hover {
    color: var(--primary-yellow);
}

.description {
    color: gray;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 24px;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 32px;
    height: 32px;
}

@media (max-width: 250px) {

   .card {
      max-width: 200px;
   }

  
}

